@model IEnumerable<AbaHussainWebSite.Models.imgNew>
@foreach (var item in Model)
{
    <div class="col-md-4 ftco-animate">
        <div class="blog-entry">
            <a href="blog-single.html" class="block-20" style="background-image: @Url.Content(item.img);">
                <div class="meta-date text-center p-2" style="width: 20%">

                    <span class="day">@Html.DisplayFor(modelItem => item.DateNew.Value.Day)</span>
                    <span class="mos">@Html.DisplayFor(modelItem => item.DateNew.Value.Month)</span>
                    <span class="yr">@Html.DisplayFor(modelItem => item.DateNew.Value.Year)</span>

                </div>
            </a>
            <div class="text pt-4">
                <a href="categories.html" class="nav-link">
                    <h3 class="heading"><a href="#">@Html.DisplayFor(modelItem => item.enHeadertxt)</a></h3>
                    <p style="text-align:right">@Html.DisplayFor(modelItem => item.enMaintxt)</p>

            </div>
        </div>
    </div>
}