@model AbaHussainWebSite.Models.Basics
@{
    Layout = "~/Views/Shared/_ELayout.cshtml";
}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(../../images/bg_1.jpeg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="col-md-6 text ftco-animate pl-md-5">
                    <h1 class="mb-4">@Html.DisplayFor(modelItem => modelItem.mainImagText1)</h1>
                    <h3 class="subheading">@Html.DisplayFor(modelItem => modelItem.parImgtxt)</h3>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(../../images/bg_2.jpeg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="col-md-6 text ftco-animate pl-md-5">
                    <h1 class="mb-4">@Html.DisplayFor(modelItem => modelItem.mainImagText2)</h1>
                    <h3 class="subheading">@Html.DisplayFor(modelItem => modelItem.parImgtxt)</h3>
                  
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-margin-top">
    <div class="container">
        <div class="row">

            <div class="col-md-8 wrap-about py-5 ftco-animate">
                <div class="heading-section mb-5">
                    <h2 class="mb-4">@Html.DisplayFor(modelItem => modelItem.midHeaderIndexPage)</h2>
                </div>
                <div class="">
                    <p class="mb-5">@Html.DisplayFor(modelItem => modelItem.midParaIndexPage)</p>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-intro" style="background-image: url(../../images/bg_3.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <h2>@Html.DisplayFor(modelItem => modelItem.headerMidtxt)</h2>
                <p>@Html.DisplayFor(modelItem => modelItem.ParagMidtxt)</p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-services ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Services</span>
                <h2 class="mb-4">Our Services</h2>
                <p>@Html.DisplayFor(modelItem => modelItem.ourServtxt)</p>
            </div>
        </div>
        <div class="row">
            @{Html.RenderAction("_Eservices", "Home");
            }
        </div>
    </div>
</section>



<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">New of company</span>
                <h2 class="mb-4">Recent News</h2>
                <p>@Html.DisplayFor(modelItem => modelItem.maintextNews)</p>
            </div>
        </div>
        <div class="row">
            @{Html.RenderAction("_Enews", "Home");
            }
        </div>
    </div>
</section>
