@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_ELayout.cshtml";
}
<div class="fs_menu_overlay"></div>
<!-- Hamburger Menu -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-2 sidebar">
            <div class="sidebar_section">
                <div class="sidebar_title">
                    <h5>Product Catagory</h5>
                </div>
                <ul class="sidebar_categories">
                    @{
                        string str = ViewBag.service;
                        if (str != null)
                        {
                            string[] arr = str.Split(',');
                            for (int i = 0; i < arr.Length - 1; i++)
                            {
                            <li>@Html.ActionLink(arr[i] + " ", "E_GetProducts", "Home", new { Service_Name = arr[i], subcat = "" }, null)</li>
                            }
                        }
                        }
                </ul>
            </div>
        </div>
        <div class="col-9 product_section clearfix">
            <!-- Main Content -->
            <div class="main_content" style="margin:10px">
                <!-- Products -->
                <div class="products_iso">
                    <div class="row">
                        <!-- Product Sorting -->
                        
                        <div class="col-4">
                            @using (Html.BeginForm("E_GetSearchProduct", "Home", FormMethod.Get, new { id = "Form" }))
                            {
                            <div class="form-group d-flex">
                                <input type="text" name="searchname" id="searchname" class="browser-default " placeholder="Search by Product Name">
                                <button type="submit" class="search"><span class="ion-ios-search"></span></button>
                            </div>

                            }

                        </div>

                        <div class="col-4">
                            @{
                                List<SelectListItem> list = new List<SelectListItem>();
                                string str1 = ViewBag.SubCategory;
                                if (str1 != null)
                                {
                                    string[] arr1 = str1.Split(',');
                                    for (int i = 0; i < arr1.Length; i++)
                                    {

                                        SelectListItem item = new SelectListItem();
                                        item.Text = arr1[i];
                                        list.Add(item);
                                    }


                                    using (Html.BeginForm("E_GetProducts", "Home", FormMethod.Get, new { id = "TheForm" }))
                                    {

                            @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)list,
                                                              new Dictionary<string, object>
                                                              {
                                                            { "class" , "browser-default custom-select" },
                                                            {  "onchange" , "document.getElementById('TheForm').submit();" }
                                                              })
                                    }
                                }
                                }
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col">
                            <!-- Product Grid -->
                            <div class="container-fluid">
                                <div class="row">
                                    <!-- Product 1 -->
                                    @{ 
                                        if (Model != null)
                                        {
                                            for (int i = 0; i < Model.Rows.Count; i++)
                                            {
                                                <div class="col-sm">
                                                    <div class="product discount product_filter">
                                                        <div class="product_image">
                                                            <img src="@Url.Content(Model.Rows[i]["img"].ToString())" width="180px" height="180px" alt="">
                                                        </div>
                                                        <div class="favorite favorite_left"></div>

                                                        <div class="product_info">
                                                            <h6 class="product_name">
                                                               
                                                                    @Html.DisplayFor(modelItem => Model.Rows[i]["enText"])
                                                              
                                                            </h6>
                                                            <div class="product_price">@Html.DisplayFor(modelItem => Model.Rows[i]["Price"])</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            }
                                        }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<script type="text/javascript">
    $(function () {
        $("#CategoryID").change(function () {
            $('#TheForm').submit();
        });
    });

</script>
