@model System.Data.DataTable
@{
    ViewBag.Title = "تفاصيل الفرع";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
   span {
        color: cadetblue;
    }
</style>
@if (ViewBag.cunt > 0)
{
<div class="containertbl" dir="rtl">
    <h2 style="text-align:right">
        <span>
            فرع :
            </span>
            @Html.LabelForModel(Model.Rows[0]["Title"].ToString(), new { htmlAttributes = new { @class = "form-control" } })
           - @Html.LabelForModel(Model.Rows[0]["enTitle"].ToString(), new { htmlAttributes = new { @class = "form-control" } })
            @*@Model.Rows[1]["Title"] -
            @Model.Rows[1]["enTitle"]*@
</h2>
    <h3 style="text-align:right">
        <span> التليفون : </span>
        @*@Model.Rows[0]["phone"]*@
        @Html.LabelForModel(Model.Rows[0]["phone"].ToString(), new { htmlAttributes = new { @class = "form-control" } })

    </h3>
   <p style="text-align:right">
       <span>العنوان :</span>
       @*@Model.Rows[1]["AddBranche"] -
       @Model.Rows[1]["enAddrBranch"]*@
           @Html.LabelForModel(Model.Rows[0]["AddBranche"].ToString(), new { htmlAttributes = new { @class = "form-control" } })
          - @Html.LabelForModel(Model.Rows[0]["enAddrBranch"].ToString(), new { htmlAttributes = new { @class = "form-control" } })

   </p>
    @*<img style="text-align:left" src="@Url.Content(Model.Rows[1]["imgSrc"].ToString())" width="200" height="100" alt="error"/>*@
    <hr style="height:1px;background-color:black;width:100%"/>
    
    <table class="table table-hover" dir="rtl">
        <tr>
            <th>
                <span>الصور الفرعيه للفرع</span>
            </th>
            
        </tr>
       
        
            
                    
                    
    </table>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {


        <div class="float-left" style="margin:12px">
            <img src="@Url.Content(Model.Rows[i]["imgSrc"].ToString())" width="100px" height="100px" />
            <div id="remove"> <a id="@Model.Rows[i]["DetailsBranch"]" href="javascript:;" style="color:red">حذف</a></div>
        </div>

    }
</div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script>


      $(document).ready(function ()
    {
       $("#remove a").click(function (e) {
           e.preventDefault();
           var id = $(this).attr("id");

           var MSG = confirm("Are you sure you want to delete this Record?");

           if (MSG) {

               $.ajax({
                   type:"POST",
                   url: '/Deleting/Deletebranchdetails/id',
                   data: { id: id },
                   success: function () {
                       $("#row_" + id).remove();
                   },
                   error: function () {

                   }
               });
           }
       })
   });

</script>
}
else { }